@import url("mobileNav.css");
*{
	margin: 0;
	padding: 0;
	background: none;
}
body{
	box-sizing: border-box;
	background-color: #FDFAF5 !important;
	padding-top: 10rem;
}

.container-fluid{
	box-sizing: border-box;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-between;
}
.container-fluid>aside{
	margin-left: 1%;
	width: 30%;
}
.article_info>p{
	color: #A9A9A9;
}
.article_info>h2{
	font-size: 1.5em;
	font-family: "gillsans";
}

.current_location{
	margin-top: 5%;
}
.article_content{
	box-sizing: border-box;
	width: 70%;
	padding-top: 1%;
}
.article_content>*{
	width: 90%;
	margin: 8% 0;
}
.pic_list{
	height: 22.3125rem;
	position: relative;
}
/* .pic_list>img{
	width: 100%;
	height: 100%;
} */
.pic_list>div:not(.pic_option){
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: absolute;
} 
.pic_list>div:not(.pic_option):nth-child(n+2){
	display: none;
}
/* .pic_list>img:nth-child(n+2){
	display: none;
} */
.pic_list>div:not(.pic_option)>span{  /*word*/
	display: none;
}
.article_content>section{
	columns: 2;
	column-gap: 2.5rem;
	font-family: 'Roboto-Light';
}
.pic_option{
	text-align: center;
	position: relative;
	top: 105%;
}
.pic_option>span{
	box-sizing: border-box;
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	margin: 0.3125rem;
	background-color: #A9A9A9;
}
.pic_option>span:nth-child(1){
	background-color: #000000;
}
.pic_option>span:hover{
	cursor: pointer;
}


@media (max-width:961px) {
	body{
		padding-top: 6rem;
	}
	.container-fluid{
		display: block;
	}
	.container-fluid>aside{
		width: 95%;
		margin-top: 10%;
	}
	.article_content,.article_content>*{
		width: 100%;
	}
	.article_content>section{
		columns: 1;
		margin-top: 15%;
	}

}