 @media (max-width:961px) {
	
	header{
		height: 25rem;
		max-height: 35.0625rem !important;
	}
	header>span>img{
		width: 19.625rem;
	}
	
	.col_book>div:nth-child(1){  /*left */
		width: unset;
	}
	.column1>div:nth-child(2){
		padding: 0.3125rem;
	}
	.column1>div:nth-child(3){
		text-align: center;
		padding-right: 0;
	}
	.column1>div:nth-child(3)>span:nth-child(3){
		margin-right: 0;
	}
	.list{
		display: flex;		
	}
	.column5 h3{
		width: 100%;
		font-size: 0.875rem;
	}
	.column5 p{
		width: 100%;
		font-size: 0.875rem;
	}
	.item{
		animation-name: move;
	}
	.book{
		padding-bottom: 0;
		background-image: url(../img/mobile_bg.png);
		background-size: cover;
	}

	.column2{
		padding-bottom: 48rem;
		height: 40rem;
	}
	
	.col_book{
		width: 27.1875rem;
		height: 25.0625rem;
		background-color: #FDFAF5;
		margin: 3rem 0;
	}
	.col_book.col2_book{
		margin-right: -6rem;
		float: right;
	}
	.col_book_left{
	   width: 18.1875rem;
	}
	.col_book_txt{
		margin:1rem 0 0 0;
	}
	.col-wrap-sign.tall{
		box-sizing: border-box;
		height: 6.25rem;
	}
	.col_book_left>a{
		/* width: 85%; */
		position: relative;
		top: 4rem;
		padding: 0.6rem;
		display: flex;
		white-space: nowrap;
		justify-content: center;
		align-items: center;
		overflow: hidden;
	}
	.col_book_right{
		position: absolute;
		width: 100%;
	}
	
	.col2_book .col_book_right{
		right: 115%;
	}
	
	.col_book .col_book_right>img{
		position: relative;
		width: 100%;
	}
	
	.col2_book .col_book_right>img{
		left: 10%;
	}
	
	.col4_book .col_book_right>img{
		left: 113%;
	}
	
	.col_book_pic{
		width: 14.6875rem;
		height: 14.5rem;
	}


	.col_book.col4_book{
		margin-left: -5rem;
	}
	
	
	
	.col4_book .div_line{
		margin-right: unset;
	}
	
	.col4_book .div_line>img{
		margin-left: 1rem;
	}
	
	.book.column4 .col-wrap-sign:nth-child(3){
		margin-top: 8rem;
	}

	.col6_search{
		width: 20.5625rem;
		position: relative;
		z-index: 99;
		background: white;
	}

	.col5-item>div:nth-child(2)>div:nth-child(2)>h3{
		font-size: 0.9em;
	}
	.col6_search{
		height: 3.5rem;
	}
	
	
	.column2,.column4{
		padding-top: 5rem;
	}
	
	.col6_foot_pic>img{
		width: 60%;
	}

} 
@media (max-width:376px) {
	
	header>video{
		width: unset;
		height: 100%;
	}
	
	.col4_book{
		margin-bottom: 120%;
	}
	.column2{
		padding-bottom: 68rem;
		height: 65rem;
	}
	.col_book_right{
		width: 80%;
		font-size: 4em;
		top: 140% !important;
	}
	.col2_book .col_book_right{
		clear: both;
		right: 25%;
	}
	
	.col4_book .col_book_right>img{
		width: 145%;
		left: -50%;
	}
	
	.col_book.col4_book{
		margin-left: -6rem;
	}
	
	.plating_txt{
		width: 70%;
		font-size: 0.8em;
	}
	
	.book.column4 .col-wrap-sign:nth-child(3){
		margin-top: 35rem !important;
	}
	
	.col6_foot_pic>img{
		width: 90%;
	}
	 
	
}