@media (max-width:961px) {
		body{
			padding: 0 !important;
		}
		nav{
			height: 10rem !important;
			align-items: center !important;
			position: relative !important;
			padding-top: 1rem !important;
			background-color: #282828 !important;
			margin-bottom: 2rem !important;
		}
		nav>ul{
			flex-direction: column !important;
		}
		#logo{
			justify-content: space-between !important;
			height: unset !important;
		}
		#logo>a{
			margin: unset !important;
			color: #fff !important;
			height: unset !important;
		}
		nav>ul>div:nth-child(2){
			padding: 0 1rem !important;
			width: 100% !important;
			margin: 0 !important;
			display: block !important;
		}
		nav>ul>div:nth-child(2)>li:nth-last-child(1){
			height: unset !important;
			color: #fff !important;
			width: 100% !important;
			margin: 0 !important;
		}
		nav>ul>div:nth-child(2)>li:not(:nth-last-child(1)){
			display: none !important;
		}
		.nav-search{
			width: 100% !important;
			height: 3rem !important;
		}
		.nav-search>input{
			display: block !important;
		}
		.nav_bar{
			width: 1.25rem !important;
			height: 0.875rem !important;
			background-image: url('../img/Group 10.png') !important;
		}
		.nav_close{
			width: 1.25rem !important;
			height: 0.875rem !important;
			background-image: url(../img/Group%20103.png) !important;
		}
		/* .sort_link{
			display: flex;
			flex-direction: column-reverse !important;
		} */
	}